<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- change from title which is taken from the src/xxx.html file and use data from contentful so it can be edited on contentful -->
        <title>{{ title }} | {{ common.companyInfo.items.[0].fields.name }}</title>
        <!-- change from description which is taken from the src/xxx.html file and use data from contentful so it can be edited on contentful -->
        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="{{ keywords }}">


        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicon/site.webmanifest">
        <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#e09402">
        <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
        <meta name="theme-color" content="#e09402">


        <!-- using twitter cards together with open graph which twitter cards use under the hood and fall back to -->
        <!-- If an og:type, og:title and og:description exist in the markup but twitter:card is absent, then a summary card may be rendered. -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@holzschmiede">
        <meta name="twitter:title" content="Parade of Fans for Houston’s Funeral">
        <meta name="twitter:description" content="NEWARK - The guest list and parade of limousines with celebrities emerging from them seemed more suited to a red carpet event in Hollywood or New York than than a gritty stretch of Sussex Avenue near the former site of the James M. Baxter Terrace public housing project here.">
        <meta name="twitter:image" content="http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg">
        <!-- required open graph properties -->
        <meta property="og:url" content="https://holzschmiede-hamburg.de" />
        <meta property="og:title" content="Handgefertigte Naturholz-Wohnskulpturen aus Hamburg | Holzschmiede Hamburg" />
        <meta property="og:type"   content="product" /> <!-- https://developers.facebook.com/docs/reference/opengraph/object-type/product/?_fb_noscript=1 -->
        <meta property="og:image" content="image for holzschmiede which users see when shared on fd - TODO: check if og:image:secure_url is always required with ssl
            If the page specifies an og:image it should specify og:image:alt" />           
        <!-- optional open graph properties -->
        <meta property="og:description" content="Sean Connery found fame and fortune as the suave, sophisticated British agent, James Bond." />
        <meta property="og:locale" content="de_DE" />
        <meta property="og:site_name" content="Holzschmiede Hamburg" />

        <!-- <meta name="google-site-verification" content="ADYYP5KNRwgg8_fz8myOr7qxWeUKc2mI_csyzUDMBd4" /> -->
        <!-- <link rel="stylesheet" href="assets/css/holzschmiede.prod.css"> -->
        <link rel="stylesheet" href="/assets/css/holzschmiede-prod.css">
    </head>


    <body>
        <div class="swrapper">
            <!-- 
                DER HEADER 
            -->    
            <header role="banner">
                <div id="logo">
                    <a href="/index.html" title="Die Startseite der Holzschmiede Hamburg aufrufen">
                        <img src="/assets/images/logo.png" alt="Holzschmiede Hamburg" title="Holzschmiede Hamburg">
                    </a>
                </div>
            </header>
        

            <!--
                DIE Navigation
            -->
            <nav>
                <ul>
                    <li>
                        <a href="/index.html" {{#isActive slug 'index' }}{{/isActive}} title="Die Startseite der Holzschmiede Hamburg aufrufen"> 
                            Startseite
                        </a>
                    </li>
                    <li>
                        <a href="/wohnskulpturen.html" {{#isActive slug 'wohnskulpturen' }}{{/isActive}} title="Eine Übersicht über alle Wohnskulpturen der Holzschmiede Hamburg aufrufen">
                            Skulpturen
                        </a>    
                    </li>
                    <li>
                        <a href="/kontakt.html" {{#isActive slug 'kontakt' }}{{/isActive}} title="Kontaktieren Sie die Holzschmiede Hamburg">
                            Kontakt
                        </a>
                    </li>
                </ul>
            </nav>    