<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- change from title which is taken from the src/xxx.html file and use data from contentful so it can be edited on contentful -->
  <title>{{ title }} | {{ common.companyInfo.items.[0].fields.name }}</title>
  <!-- change from description which is taken from the src/xxx.html file and use data from contentful so it can be edited on contentful -->
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="{{ keywords }}">
  <meta name="google-site-verification" content="ADYYP5KNRwgg8_fz8myOr7qxWeUKc2mI_csyzUDMBd4" />
  <!-- <link rel="stylesheet" href="assets/css/holzschmiede.prod.css"> -->
  <link rel="stylesheet" href="/assets/css/holzschmiede-prod.css">
</head>
<body>
    <!-- 
        DER HEADER 
    -->    
    <header class="header">
        <h1 class="headline">Holzschmiede  <small>Hamburg</small></h1>
        <nav>
            <ul class="header-subnav">
                <li><a href="/index.html" {{#isActive slug 'index' }}{{/isActive}} title="Die Startseite der Holzschmiede Hamburg aufrufen" >Startseite</a></li>
                <li><a href="/produkte.html" {{#isActive slug 'produkte' }}{{/isActive}} title="Eine Übersicht über alle Produkte der Holzschmiede Hamburg aufrufen" >Produkte</a></li>
                <li><a href="/kontakt.html" {{#isActive slug 'kontakt' }}{{/isActive}} title="Kontaktieren Sie die Holzschmiede Hamburg" >Kontakt</a></li>
            </ul>            
        </nav>
    </header>