{{> header 
    title=data.fields.title 
    description=data.fields.metaDescription 
    keywords=data.fields.metaKeywords }}

  <!-- 
        DER CONTENTBEREICH 
    -->    
    <main class="striped-page-sections footer-shadow">
        <section class="page-section">
            <div class="row column">
                <h2 class="content-header">Kontaktieren Sie mich</h2>
                <p>{{data.fields.introText}}</p>
                <p>
                    <span>
                        &#9742; Telefon: <a href="Tel:{{common.companyInfo.items.[0].fields.phone}}" title="Telefonieren Sie mit mir">{{common.companyInfo.items.[0].fields.phone}}</a>
                    </span>
                </p>
                <p>
                    <span>
                        &#128231; Email: <a href="mailto:{{common.companyInfo.items.[0].fields.email}}" title="Schreiben Sie mir eine Email">{{common.companyInfo.items.[0].fields.email}}</a>
                    </span>
                </p>   
                <p>             
                    {{data.fields.outroText}}
                </p>
        </section> 

        <section class="page-section">
            <div class="row column">
                <form action="#" method="POST">
                    <div class="row">
                        <div class="medium-6 columns">
                        <label>Name
                            <input type="text" placeholder="name">
                        </label>
                        </div>
                        <div class="medium-6 columns">
                        <label>Email
                            <input type="text" placeholder="email">
                        </label>
                        </div>
                    </div>
                    <div class="row column">
                        <label>Betreff
                            <input type="text" placeholder="betreff">
                        </label>
                    </div>
                    <div class="row column">
                        <label>
                        Nachricht
                        <textarea class="textarea-bigger" placeholder="Schreiben Sie ihre Nachricht hier"></textarea>
                        </label>
                    </div>
                    <div class="row column text-right push-down">
                        <input type="submit" class="button large success no-margin" value="Nachricht absenden">
                    </div>                                        
                </form>                 
            </div>
            </div>
        </section>                    
    </main>

{{> footer}}