{{> header 
    title=data.fields.title 
    description=data.fields.metaDescription 
    keywords=data.fields.metaKeywords }}

    <!-- 
        DER CONTENTBEREICH 
    -->    
    <main>

        <section class="page-section">
            <div class="row column text-center">
                <h1 class="tagline bb">Kontaktieren Sie mich</h1>
            </div>
            <div class="row column">
                <div class="h1-divider"></div>
            </div>
        </section>

        
        <section class="page-section">
            <div class="row column">
                <p>{{data.fields.introText}}</p>
                <p>
                    <span>
                        &#9742; Telefon: <a href="Tel:{{common.companyInfo.items.[0].fields.phone}}" title="Telefonieren Sie mit mir">{{common.companyInfo.items.[0].fields.phone}}</a>
                    </span>
                </p>
                <p>
                    <span>
                        &#128231; Email: <a href="mailto:{{common.companyInfo.items.[0].fields.email}}" title="Schreiben Sie mir eine Email">{{common.companyInfo.items.[0].fields.email}}</a>
                    </span>
                </p>   
                <p>             
                    {{data.fields.outroText}}
                </p>
            </div>
        </section>

        <section class="page-section">
                <form action="https://holzschmiede-hamburg.de/kontakt/" method="POST">
                    <div class="row">
                        <div class="medium-6 columns">
                            <label>Name <input placeholder="name" name="name" required="" type="text"></label>
                        </div>
                        <div class="medium-6 columns">
                            <label>Email <input placeholder="email" name="email" required="" type="text"></label>
                        </div>
                    </div>
                    <div class="row column">
                        <label>Betreff <input placeholder="betreff" name="subject" required="" type="text"></label>
                    </div>
                    <div class="row column">
                        <label>Nachricht
                            <textarea class="textarea-bigger" name="message" placeholder="Schreiben Sie ihre Nachricht hier" required=""></textarea>
                            <input aria-hidden="true" name="nicht-ausfuellen" type="hidden">
                        </label>
                    </div>
                    <div class="row column text-right push-down">
                        <input class="button large warning contact-button" value="Nachricht absenden" type="submit">
                    </div>
                </form>
        </section>

    </main>

{{> footer}}
