<!doctype html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- <title>Handgefertigte Möbel aus Holz | Holzschmiede Hamburg</title> -->
    <title>Handgefertigte Holzmöbel aus Hamburg | Holzschmiede Hamburg</title>
    <!-- <title>Handgefertigte Holzmöbel in bester Qualität | Holzschmiede Hamburg</title> -->
    <link rel="stylesheet" type="text/css" href="css/foundation.full.min.css">
    <link rel="stylesheet" type="text/css" href="css/holzschmiede-slider.css">
</head>
<body>
    <!-- 
        DER HEADER 
    -->    
    <header class="header">
        <h1 class="headline">Holzschmiede  <small>Hamburg</small></h1>
        <nav>
            <ul class="header-subnav">
                <li><a href="#">Startseite</a></li>
                <li><a href="gallery.html">Produkte</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>            
        </nav>
    </header>

    <!-- 
        DER CONTENTBEREICH 
    -->    
    <main class="striped-page-sections footer-shadow">
        <section class="page-section">
        <div class="row">
            <div class="large-6 columns">

                <article id="slider-test">    
                    <!-- Slider Setup -->
                    <input checked name="slider" id="slide1" type="radio">
                    <input name="slider" id="slide2" type="radio">
                    <input name="slider" id="slide3" type="radio">
                    <input name="slider" id="slide4" type="radio">
                    <input name="slider" id="slide5" type="radio">
                
                    <!-- The Slider -->
                    <div id="slides" class="thumbnail">
                        <div id="overflow">
                            <div class="inner">
                                <article>
                                    <img src="https://placehold.it/1000x550">
                                </article>
                                
                                <article>
                                    <img src="https://placehold.it/1000x550">
                                </article>
                                
                                <article>
                                    <img src="https://placehold.it/1000x550">
                                </article>
                                
                                <article>
                                    <img src="https://placehold.it/1000x550">
                                </article>
                                
                            </div> <!-- .inner -->
                        </div> <!-- #overflow -->
                    </div> <!-- #slides -->

                    <div id="active">
                        <div class="row small-up-2 medium-up-3 large-up-4 content">
                            <div class="column column-block">
                                <label for="slide1">
                                    <img class="thumbnail no-margin" src="https://placehold.it/125x125">
                                </label>
                            </div>
                            <div class="column column-block">
                                <label for="slide2">
                                    <img class="thumbnail no-margin" src="https://placehold.it/125x125">
                                </label>
                            </div>
                            <div class="column column-block">
                                <label for="slide3">
                                    <img class="thumbnail no-margin" src="https://placehold.it/125x125">
                                </label>
                            </div>
                            <div class="column column-block">
                                <label for="slide4">
                                    <img class="thumbnail no-margin" src="https://placehold.it/125x125">
                                </label>
                            </div>                                                                                                              
                        </div>
                    </div> <!-- #active -->                                     
   
                </article>

            </div>
            <div class="large-5 columns">
                <h3>My Awesome Product</h3>
                <p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. 
                    In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor.
                     Nulla facilisi. Duis aliquet egestas purus in.</p>
                
                <p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. 
                    In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor.
                     Nulla facilisi. Duis aliquet egestas purus in.</p>

                <p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. 
                    In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor.
                     Nulla facilisi. Duis aliquet egestas purus in.</p>                     

                <a href="#" class="button large expanded success">Angebot einholen</a>
            </div>
        </div>
        </section>                    
    </main>
    
    <!-- 
        DER FUSSBEREICH 
    -->
    <footer class="footer">
       <div class="row text-center">
           <div class="columns small-12 medium-6 large-4">
               <h2 class="content-header">Adresse</h2>
               <p>Holzschmiede Hamburg</p>
               <p>Inh. Axel Großmann (Holzbildhauer) <br>
               Tegelweg 125 <br>
               22159 Hamburg</p>
           </div>
           <div class="columns small-12 medium-6 large-4">
               <h2 class="content-header">Kontakt</h2>
               <p>example@example.com</p>
               <p>Tel: 123456789</p>
           </div>
           <div class="columns small-12 medium-12 large-4">
               <h2 class="content-header">Öffnungszeiten</h2>
               <p>Mo-Fr 8-18 Uhr</p>
               <p>Und nach Vereinbarung</p>
           </div>                                
       </div> 
    </footer>
</body>