{{> header_product 
    title=data.fields.name
    description=data.fields.metaDescription
    keywords=data.fields.metaKeywords 
    image=(concat "https:" data.fields.pictures.[0].fields.file.url "?fit=pad&w=1134&h=850&fm=jpg&bg=rgb:CCC&fl=progressive&q=80")
    image_alt=data.fields.pictures.[0].fields.description }}

    <!-- 
        DER CONTENTBEREICH
    -->    
    <main role="main" itemscope itemprop="mainContentOfPage">  
        
        <section itemscope itemtype="https://schema.org/IndividualProduct" class="page-section">
            <div class="row column text-center">
                <h1 itemprop="name" class="tagline bb">{{data.fields.name}}</h1>
            </div>
            <div class="row column">
                <div class="h1-divider"></div>
            </div>            
            <div class="row column">
                <p itemprop="description">{{data.fields.description}}</p>
            </div>                    
            <div class="row medium-up-2 push-down featured">
                {{#each data.fields.pictures}}
                    <div class="column column-block">
                        <article>
                            <img itemprop="image" src="https:{{fields.file.url}}?fit=pad&w=1134&h=850&fm=jpg&bg=rgb:CCC&fl=progressive&q=80"
                                alt="{{fields.description}}" title="{{fields.description}}" class="thumbnail" />                                            
                        </article>
                    </div>
                {{/each}}
            </div>
            <div class="row column text-center">
                    <a href="/wohnskulpturen.html" class="button warning large products-button" title="Zurück zur Übersicht über alle Wohnskulpturen">Zurück zur Übersicht</a>
            </div>                
        </section>

    </main>

{{> footer }}

