{{> header 
    title=data.fields.name
    description=data.fields.metaDescription
    keywords=data.fields.metaKeywords }}

    <!-- 
        DER CONTENTBEREICH 
    -->    
    <main class="striped-page-sections footer-shadow">

        <section class="page-section">
            <div class="row">
                <div class="large-6 columns">

                    <article id="slider-test">    
                        <!-- Slider Setup -->                   
                    {{#eachData data.fields.pictures}}
                        <input {{#equal index 0}} checked {{/equal}} name="slider" id="slide{{index}}" type="radio">
                    {{/eachData}}  

                        <!-- The Slider -->
                        <div id="slides" class="thumbnail">
                            <div id="overflow">
                                <div class="inner">
                                {{#each data.fields.pictures}}
                                    <article>
                                        <img src="{{fields.file.url}}?fit=pad&w=1000&h=550&fm=jpg&bg=rgb:CCC&fl=progressive&q=80"
                                            alt="{{fields.description}}" title="{{fields.description}}" />                                            
                                    </article>
                                {{/each}}
                                </div> <!-- .inner -->
                            </div> <!-- #overflow -->
                        </div> <!-- #slides -->

                        <div id="active">
                            <div class="row small-up-4 medium-up-8 large-up-4 content">
                            {{#eachData data.fields.pictures}}
                                <div class="column push-down">
                                    <label for="slide{{index}}">
                                        <img class="thumbnail no-margin" src="{{fields.file.url}}?fit=pad&w=125&h=125&fm=jpg&bg=rgb:CCC&fl=progressive&q=80" 
                                            alt="{{fields.description}}" title="{{fields.description}}" />
                                    </label>                                        
                                </div>
                            {{/eachData}}  
                            </div>
                        </div> <!-- #active -->                                     
    
                    </article>

                </div>
                <div class="large-5 columns">
                    <div class="row column">
                        <h2>{{data.fields.name}}</h2>
                        {{data.fields.description}} 
                    </div>
                    <div class="row column">
                        <a href="#" class="button large expanded success">Holen Sie ein Angebot ein</a>
                    </div>                                       
                    <div class="row column">
                        <a href="/produkte.html" class="button hollow large expanded secondary">Zurück zur Übersicht</a>
                    </div>
                </div>
            </div>
        </section> 
                    
    </main>

{{> footer }}
