{{> header 
    title="Sitemap der holzschmiede-hamburg.de"
    description="Hier finden Sie eine Übersicht über die Seiten die auf der Wesbeite der holzschmiede-hamburg zu finden sind."
    keywords="sitemap, holzschmiede, holzschmiede-hamburg, hamburg, handgefertigt" }}

    <!-- 
        DER CONTENTBEREICH 
    -->    
    <main class="striped-page-sections footer-shadow">
        <section class="page-section">
            <div class="row column">
                
                {{{ htmlSitemap }}}

            </div>
        </section>

                    
    </main>

{{> footer }}
