{{> header 
    title="Alle Wohnskulpturen in einer Übersicht"
    description="Eine Übersicht einiger bisher angefertigter Wohnskulpturen und Möbel. (Zahn-) Stühle, (Puzzle-) Tische, Lampen, Kleiderständer und mehr. Lassen Sie sich für Ihre individuelle Wohnskulptur inspieren."
    keywords="skulptur, wohnskulptur, übersicht, stühle, tische, schalen, lampen, kleiderständer, holz" 
    schemaOrgPageType="CollectionPage" }}

    <!-- 
    DER CONTENTBEREICH 
    -->    
    <main role="main" itemscope itemprop="mainContentOfPage">

        <section class="page-section" itemscope itemtype="http://schema.org/WPHeader">
            <div class="row column text-center">
                <h1 class="tagline bb" itemprop="headline">Alle Wohnskulpturen in einer Übersicht</h1>
            </div>
            <div class="row column">
                <div class="h1-divider"></div>
            </div>
        </section>
        
        <section class="page-section" itemscope itemtype="http://schema.org/ImageGallery">
            <div class="row small-up-2 medium-up-3 large-up-4 featured">
                {{#each data.entries}}
                    <figure class="column column-block" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="{{ _fileName }}" itemprop="contentUrl">
                            <img src="{{fields.pictures.[0].fields.file.url}}?fit=pad&w=300&h=300&fm=jpg&bg=rgb:CCC&fl=progressive&q=80" 
                                class="thumbnail" alt="{{fields.description}}" title="{{fields.description}}" itemprop="thumbnailUrl" />
                        </a>
                    </figure>                    
                {{/each}}                               
            </div>                  
        </section>

    </main>

{{> footer }}


